<div class="menu">
    <div class="the_economist">The Economist Print Covers</div>
    <a <%- current == 'labeled' ? 'class="current"' : '' %> href="index.html">Labeled</a>
    %><a <%- current == 'tight' ? 'class="current"' : '' %> href="index_tight.html">Tight</a>
    %><a <%- current == 'min' ? 'class="current"' : '' %> href="index_min.html">Minimum</a>
    %><a <%- current == 'tiny' ? 'class="current"' : '' %> href="index_tiny.html">Tiny</a>
</div>
